<!--<div id="Greeting">Sorry, This page is under construction</div>
<div id="Greeting-Subtitle">Check out my <a class="main-links" href="https://github.com/shuklasaharsh">Github</a> in the
    meanwhile.
</div>-->

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>


<div class="webinar-grid">

    <a href="{{projectLink1}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project1.jpg" class="crop">
            </div>
            <h1 class="dundas-blue-text-long">
                Econometrics - Correlation in oil prices and sector wise GDP
            </h1>
            <div class="webinar-content-box">
                <p>Correlation of The retail selling price of oil and the Sector wise GDP - Gross domestic product was
                    found after rigorous
                    cleaning and tests</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python on Jupyter using turi<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/jupyter.png" height="48px" class="iconImage" id="jupyter">
                <img src="img/turicreate.svg" height="48px" class="iconImage">
            </div>
        </div>
    </a>
    <a href="{{projectLink2}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project2.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Deep Learning - Analytics of analog data and notification tool
            </h1>
            <div class="webinar-content-box">
                <p>Real time cloud communication with backend integration of notification access to the user with
                    dynamic analytics of analog data sent using REST</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python on Jupyter using turi<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/jupyter.png" height="48px" class="iconImage" id="jupyter">
                <img src="img/turicreate.svg" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink3}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project3.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                COVID19 - Vaccination Notification system for COWIN
            </h1>
            <div class="webinar-content-box">
                <p>A relational database was created using GForms. If a match was found, (Where the details of the user
                    matched a nearby vaccination site) an Email was sent to the user.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python and JavaScript<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/javascript.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink3b}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project3b.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using Public Data for analytics of COVID19 data - 130 Countries
            </h1>
            <div class="webinar-content-box">
                <p>Public data from COVID19 data repositories was used to compute ARIMA models for forecasting of cases.
                    Computation out-of-sample multi-period interval forecasts.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using python and pandas<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/pandas.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink4}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project4.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                MATLAB - Using Image processing to segment and detect Brain tumors with 92% accuracy
            </h1>
            <div class="webinar-content-box">
                <p>Using PSNR (Peak signal to noise ratio) and MSE (Mean Square error) of resultant
                    image from the equalisation and CDF to detect Tumors</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using MATLAB<br>
                <img src="/img/matlab.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink5}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project5.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using NodeJS and NodeMailer to detect, log and store errors and notify users
            </h1>
            <div class="webinar-content-box">
                <p>A single block of code to detect, log and store errors as well as send notification to the admin.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using NodeJS and JavaScript<br>
                <img src="/img/nodejs.png" height="48px" class="iconImage">
                <img src="img/javascript.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>


    <a href="{{projectLink7}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project7.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using Long Short term memory - Neural Networks - To predict stock market
            </h1>
            <div class="webinar-content-box">
                <p>LSTM built using the Keras Python package to predict the Up trend and drown trend, predicted with
                    80% accuracy.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python, Keras and Tensorflow<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="/img/keras.png" height="48px" class="iconImage">
                <img src="img/tensorflow.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink8}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project8.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using Recurrent Neural Networks to predict Long term market trends
            </h1>
            <div class="webinar-content-box">
                <p>Using Financial data to predict and download individual data for tickers from Google Finance API and
                    prediction of prices, works using command line arguments.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python, YFinance and Tensorflow<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/yahoo.png" height="48px" class="iconImage">
                <img src="img/tensorflow.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink9}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project9b.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using MonteCarlo simulation, ARIMA to predict efficient frontier in a portfolio
            </h1>
            <div class="webinar-content-box">
                <p>Performs complete comparisons of competitive strategy, financial strength, growth potential, and
                    valuation of two companies through fundamental and technical analysis.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using python, pandas and SKlearn<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/pandas.png" height="48px" class="iconImage">
                <img src="img/sklearn.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>


    <a href="{{projectLink10}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project10.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using Keras and OpenComputerVision to detect hand gestures
            </h1>
            <div class="webinar-content-box">
                <p>With the introduction of OpenCV, we are capable of infinitely more as every physical aspect that was
                    inaccessible essentially can be represented and converted into data including video feeds as well as
                    pictures.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python, Keras and OpenCV<br>
                <img src="img/python.png" height="48px" class="iconImage">
                <img src="/img/keras.png" height="48px" class="iconImage">
                <img src="img/opencv.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink11}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project11.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Creating Natural sounds using Digital signal processing
            </h1>
            <div class="webinar-content-box">
                <p>Using python and basic mathematics, we create various filters to create natural sounds of musical
                    instruments. The code is written without the use of any extra library, though matplotlib is used to
                    visualise the created data.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using python on jupyter<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/jupyter.png" height="48px" class="iconImage" id="jupyter">
            </div>
        </div>
    </a>

    <a href="{{projectLink12}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project12.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Diseased leaf detection using MATLAB and OpenCV
            </h1>
            <div class="webinar-content-box">
                <p>Detection of diseased part of leaves using MATLAB, Support vector machines and Kmeans as wells as
                    image
                    processing concepts, 76% Accuracy.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using MATLAB<br>
                <img src="/img/matlab.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>
    <a href="{{projectLink6}}" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project6.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Creating a weather API (Click here for request)
            </h1>
            <div class="webinar-content-box">
                <p>A weather api was created to learn about Asynchronous node development, calls and http endpoints.</p>
                <span class="dundas-blue-link">Click here to request weather &gt;</span>
            </div>
            <div class="icons">
                Using NodeJS and JavaScript<br>
                <img src="/img/nodejs.png" height="48px" class="iconImage">
                <img src="img/javascript.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>


</div>


<!--<div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink1}}">-->
<!--            <h2 class="post-head" align="left">Econometrics - Oil Price analytics</h2>-->
<!--            <p class="post-left-body" align="left">Correlation between the Retail Selling price of oil vs SectorWise GDP growth</p>-->
<!--        </a>-->


<!--        <img src="https://user-images.githubusercontent.com/67519229/123092836-8c35c500-d448-11eb-976d-d9db716205ef.jpg"-->
<!--             , width="50%" align="right">-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="./img/project-disp-1.jpg"-->
<!--              width="50%" align="left">-->
<!--        <a href="{{projectLink2}}" class="post-right-body">-->
<!--            <h2 class="post-head" align="right">IOT based smart cooking sensor</h2>-->
<!--            <p align="right" class="post-right-body">A Smart Cloud Based cooking solution - ML</p>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink3}}">-->
<!--            <h2 class="post-head">COVID19 Vaccine Notifier</h2>-->
<!--            <p class="post-left-body">Using requests, check the availability of vaccines and send an EMAIL</p>-->
<!--        </a>-->
<!--        <img src="./img/covid19logo.svg" , width="50%" align="right">-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="./img/project-disp-2.jpeg"-->
<!--             , width="50%" align="left">-->
<!--        <a href="{{projectLink4}}"><h2 class="post-head" align="right">Brain Tumor Segmentation</h2>-->
<!--            <p align="right" class="post-right-body">Brain tumor segmentation using MATLAB - ML</p>-->
<!--        </a>-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink5}}">-->
<!--            <h2 class="post-head">Basic Error Handling using MERN</h2>-->
<!--            <p class="post-left-body">A single block of code that handles errors, logs it and sends an email</p>-->
<!--        </a>-->
<!--        <img src="./img/project-disp-3.jpeg"-->
<!--             align="right" width="50%">-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="https://camo.githubusercontent.com/ebebbf17bf4c23072c784e3ccdfbf18713a037a63f957e65ba23aeeaed76a24e/68747470733a2f2f7777772e616c74756d696e74656c6c6967656e63652e636f6d2f6173736574732f74696d652d7365726965732d70726564696374696f6e2d7573696e672d6c73746d2d646565702d6e657572616c2d6e6574776f726b732f73703530305f6d756c74695f32642e706e67"-->
<!--             , width="50%" align="left">-->
<!--        <a href="{{projectLink7}}"><h2 class="post-head" align="right">LSTM Neural Network for Time Series Prediction</h2>-->
<!--            <p align="right" class="post-right-body">LSTM built using the Keras Python package to predict time series steps and sequences. Includes sine wave and stock market data.</p>-->
<!--        </a>-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink6}}">-->
<!--            <h2 class="post-head">Web Server using ExpressJS</h2>-->
<!--            <p class="post-left-body">Using Mern to host a web server</p>-->
<!--        </a>-->
<!--        <img src="./img/project-disp-4.jpg"-->
<!--             , width="50%" align="right">-->

<!--    </div>-->

<!--    <div class="ProjectClass">-->
<!--        <img src="./img/project-disp-5.jpg"-->
<!--             width="50%" align="left">-->
<!--        <a href="{{projectLink8}}">-->
<!--            <h2 class="post-head" align="right">Predict stock market prices using RNN</h2>-->
<!--            <p align="right" class="post-right-body">Creating an RNN model on Tensorflow to predict the flow of stock market</p>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink9}}">-->
<!--            <h2 class="post-head">Financial Data Analytics</h2>-->
<!--            <p class="post-left-body">This project consists of highly-detailed implementations of business and technical analysis strategies for both growth and value-driven investors.</p>-->
<!--        </a>-->
<!--        <img src="./img/betterbuy.jpg"-->
<!--             , width="50%" align="right" height="75%">-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="./img/hand.png"-->
<!--             width="50%" align="left">-->
<!--        <a href="{{projectLink10}}">-->
<!--            <h2 class="post-head" align="right">Haptic Image recognition</h2>-->
<!--            <p align="right" class="post-right-body">Using Keras and Open Computer Vision to analyse the shape of the hand</p>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink11}}">-->
<!--            <h2 class="post-head">Audio Wave creation and processing using Python</h2>-->
<!--            <p class="post-left-body">Using python to create basic and advanced audio filters, application of DSP</p>-->
<!--        </a>-->
<!--        <img src="./img/echo.jpeg"-->
<!--             , width="50%" align="right" height="100%">-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="./img/leaf.jpeg"-->
<!--             width="50%" align="left" height="50%">-->
<!--        <a href="{{projectLink12}}">-->
<!--            <h2 class="post-head" align="right">Identify Disease in Leaves using MATLAB</h2>-->
<!--            <p align="right" class="post-right-body">Leaf disease detection is done using neural network classifier. The segmentation is done using k-means clustering. Various features like Contrast, Correlation, Energy, Homogeneity, Mean, Standard Deviation and Variance are extracted for cotton and tomato diseases.</p>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->