<div id="Greeting">Sorry, This page is under construction</div>
<div id="Greeting-Subtitle">Check out my <a class="main-links" href="https://github.com/shuklasaharsh">Github</a> in the meanwhile.</div>

<!--<div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink1}}">-->
<!--            <h2 class="post-head" align="left">Econometrics - Oil Price analytics</h2>-->
<!--            <p class="post-left-body" align="left">Correlation between the Retail Selling price of oil vs SectorWise GDP growth</p>-->
<!--        </a>-->


<!--        <img src="https://user-images.githubusercontent.com/67519229/123092836-8c35c500-d448-11eb-976d-d9db716205ef.jpg"-->
<!--             , width="50%" align="right">-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="./img/project-disp-1.jpg"-->
<!--              width="50%" align="left">-->
<!--        <a href="{{projectLink2}}" class="post-right-body">-->
<!--            <h2 class="post-head" align="right">IOT based smart cooking sensor</h2>-->
<!--            <p align="right" class="post-right-body">A Smart Cloud Based cooking solution - ML</p>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink3}}">-->
<!--            <h2 class="post-head">COVID19 Vaccine Notifier</h2>-->
<!--            <p class="post-left-body">Using requests, check the availability of vaccines and send an EMAIL</p>-->
<!--        </a>-->
<!--        <img src="./img/covid19logo.svg" , width="50%" align="right">-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="./img/project-disp-2.jpeg"-->
<!--             , width="50%" align="left">-->
<!--        <a href="{{projectLink4}}"><h2 class="post-head" align="right">Brain Tumor Segmentation</h2>-->
<!--            <p align="right" class="post-right-body">Brain tumor segmentation using MATLAB - ML</p>-->
<!--        </a>-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink5}}">-->
<!--            <h2 class="post-head">Basic Error Handling using MERN</h2>-->
<!--            <p class="post-left-body">A single block of code that handles errors, logs it and sends an email</p>-->
<!--        </a>-->
<!--        <img src="./img/project-disp-3.jpeg"-->
<!--             align="right" width="50%">-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="https://camo.githubusercontent.com/ebebbf17bf4c23072c784e3ccdfbf18713a037a63f957e65ba23aeeaed76a24e/68747470733a2f2f7777772e616c74756d696e74656c6c6967656e63652e636f6d2f6173736574732f74696d652d7365726965732d70726564696374696f6e2d7573696e672d6c73746d2d646565702d6e657572616c2d6e6574776f726b732f73703530305f6d756c74695f32642e706e67"-->
<!--             , width="50%" align="left">-->
<!--        <a href="{{projectLink7}}"><h2 class="post-head" align="right">LSTM Neural Network for Time Series Prediction</h2>-->
<!--            <p align="right" class="post-right-body">LSTM built using the Keras Python package to predict time series steps and sequences. Includes sine wave and stock market data.</p>-->
<!--        </a>-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink6}}">-->
<!--            <h2 class="post-head">Web Server using ExpressJS</h2>-->
<!--            <p class="post-left-body">Using Mern to host a web server</p>-->
<!--        </a>-->
<!--        <img src="./img/project-disp-4.jpg"-->
<!--             , width="50%" align="right">-->

<!--    </div>-->

<!--    <div class="ProjectClass">-->
<!--        <img src="./img/project-disp-5.jpg"-->
<!--             width="50%" align="left">-->
<!--        <a href="{{projectLink8}}">-->
<!--            <h2 class="post-head" align="right">Predict stock market prices using RNN</h2>-->
<!--            <p align="right" class="post-right-body">Creating an RNN model on Tensorflow to predict the flow of stock market</p>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink9}}">-->
<!--            <h2 class="post-head">Financial Data Analytics</h2>-->
<!--            <p class="post-left-body">This project consists of highly-detailed implementations of business and technical analysis strategies for both growth and value-driven investors.</p>-->
<!--        </a>-->
<!--        <img src="./img/betterbuy.jpg"-->
<!--             , width="50%" align="right" height="75%">-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="./img/hand.png"-->
<!--             width="50%" align="left">-->
<!--        <a href="{{projectLink10}}">-->
<!--            <h2 class="post-head" align="right">Haptic Image recognition</h2>-->
<!--            <p align="right" class="post-right-body">Using Keras and Open Computer Vision to analyse the shape of the hand</p>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <a href="{{projectLink11}}">-->
<!--            <h2 class="post-head">Audio Wave creation and processing using Python</h2>-->
<!--            <p class="post-left-body">Using python to create basic and advanced audio filters, application of DSP</p>-->
<!--        </a>-->
<!--        <img src="./img/echo.jpeg"-->
<!--             , width="50%" align="right" height="100%">-->

<!--    </div>-->
<!--    <div class="ProjectClass">-->
<!--        <img src="./img/leaf.jpeg"-->
<!--             width="50%" align="left" height="50%">-->
<!--        <a href="{{projectLink12}}">-->
<!--            <h2 class="post-head" align="right">Identify Disease in Leaves using MATLAB</h2>-->
<!--            <p align="right" class="post-right-body">Leaf disease detection is done using neural network classifier. The segmentation is done using k-means clustering. Various features like Contrast, Correlation, Energy, Homogeneity, Mean, Standard Deviation and Variance are extracted for cotton and tomato diseases.</p>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->