<!--<div id="Greeting">Sorry, This page is under construction</div>
<div id="Greeting-Subtitle">Check out my <a class="main-links" href="https://github.com/shuklasaharsh">Github</a> in the
    meanwhile.
</div>-->

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>


<div class="webinar-grid">

    <a href="{{projectLink1}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project1.jpg" class="crop">
            </div>
            <h1 class="dundas-blue-text-long">
                Econometrics - Correlation in oil prices and sector wise GDP
            </h1>
            <div class="webinar-content-box">
                <p>Correlation of The retail selling price of oil and the Sector wise GDP - Gross domestic product was
                    found after rigorous
                    cleaning and tests</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python on Jupyter using turi<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/jupyter.png" height="48px" class="iconImage" id="jupyter">
                <img src="img/turicreate.svg" height="48px" class="iconImage">
            </div>
        </div>
    </a>
    <a href="{{projectLink2}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project2.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Deep Learning - Analytics of analog data and notification tool
            </h1>
            <div class="webinar-content-box">
                <p>Real time cloud communication with backend integration of notification access to the user with
                    dynamic analytics of analog data sent using REST</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python on Jupyter using turi<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/jupyter.png" height="48px" class="iconImage" id="jupyter">
                <img src="img/turicreate.svg" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink3}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project3.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                COVID19 - Vaccination Notification system for COWIN
            </h1>
            <div class="webinar-content-box">
                <p>A relational database was created using GForms. Upon finding compatibility of the user, notification
                    is sent</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python and JavaScript<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/javascript.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink3b}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project3b.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using Public Data for analytics of COVID19 data - 130 Countries
            </h1>
            <div class="webinar-content-box">
                <p>Public data from COVID19 data repositories was used to compute ARIMA models for forecasting of cases.
                </p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using python and pandas<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/pandas.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink4}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project4.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                MATLAB - Using Image processing to segment and detect Brain tumors with 92% accuracy
            </h1>
            <div class="webinar-content-box">
                <p>Using PSNR (Peak signal to noise ratio) and MSE (Mean Square error) of resultant
                    image from the equalisation and CDF to detect Tumors</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using MATLAB<br>
                <img src="/img/matlab.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink5}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project5.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using NodeJS and NodeMailer to detect, log and store errors and notify users
            </h1>
            <div class="webinar-content-box">
                <p>A single block of code to detect, log and store errors as well as send notification to the admin.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using NodeJS and JavaScript<br>
                <img src="/img/nodejs.png" height="48px" class="iconImage">
                <img src="img/javascript.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>


    <a href="{{projectLink7}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project7.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using Long Short term memory - Neural Networks - To predict stock market
            </h1>
            <div class="webinar-content-box">
                <p>LSTM built using the Keras Python package to predict the Up trend and drown trend, predicted with
                    80% accuracy.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python, Keras and Tensorflow<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="/img/keras.png" height="48px" class="iconImage">
                <img src="img/tensorflow.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink8}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project8.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using Recurrent Neural Networks to predict Long term market trends
            </h1>
            <div class="webinar-content-box">
                <p>Using Financial data to predict and download individual data for tickers from Google Finance API and
                    prediction of prices, works using command line arguments.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python, YFinance and Tensorflow<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/yahoo.png" height="48px" class="iconImage">
                <img src="img/tensorflow.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink9}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project9b.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using MonteCarlo simulation, ARIMA to predict efficient frontier in a portfolio
            </h1>
            <div class="webinar-content-box">
                <p>Complete Comparisons and technical and fundamental analysis using Competitive, financial strategy,
                    growth and valuation as factors.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using python, pandas and SKlearn<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/pandas.png" height="48px" class="iconImage">
                <img src="img/sklearn.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>


    <a href="{{projectLink10}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project10.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Using Keras and OpenComputerVision to detect hand gestures
            </h1>
            <div class="webinar-content-box">
                <p>Using OpenCV and Tsensorflow (CNN) to detect hand gestures with 95% accuracy</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using Python, Keras and OpenCV<br>
                <img src="img/python.png" height="48px" class="iconImage">
                <img src="/img/keras.png" height="48px" class="iconImage">
                <img src="img/opencv.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>

    <a href="{{projectLink11}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project11.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Creating Natural sounds using Digital signal processing
            </h1>
            <div class="webinar-content-box">
                <p>Using python and basic mathematics, we create various filters to create natural sounds of musical
                    instruments.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using python on jupyter<br>
                <img src="/img/python.png" height="48px" class="iconImage">
                <img src="img/jupyter.png" height="48px" class="iconImage" id="jupyter">
            </div>
        </div>
    </a>

    <a href="{{projectLink12}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project12.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Diseased leaf detection using MATLAB and OpenCV
            </h1>
            <div class="webinar-content-box">
                <p>Detection of diseased part of leaves using MATLAB, Support vector machines and Kmeans as wells as
                    image processing concepts, 76% Accuracy.</p>
                <span class="dundas-blue-link">View on github &gt;</span>
            </div>
            <div class="icons">
                Using MATLAB<br>
                <img src="/img/matlab.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>
    <a href="{{projectLink6}}" class="link-block" data-aos="fade-up" data-aos-duration="1500">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="/img/project6.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Creating a weather API (Click here for request)
            </h1>
            <div class="webinar-content-box">
                <p>A weather api was created to learn about Asynchronous node development, calls and http endpoints.</p>
                <span class="dundas-blue-link">Request weather &gt</span>
            </div>
            <div class="icons">
                Using NodeJS and JavaScript<br>
                <img src="/img/nodejs.png" height="48px" class="iconImage">
                <img src="img/javascript.png" height="48px" class="iconImage">
            </div>
        </div>
    </a>


</div>